.layout {
    display: flex;
    height: 98vh;
}

.sidebar {
    background: #0f1a2e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* verhindert volle Breite */
    transition: width 0.3s ease;
    height: 99vh;
}

    .sidebar.expanded {
        width: 300px;
    }
    /* Standard: breit */
    .sidebar.collapsed {
        width: 50px;
    }
/* Eingeklappt: schmal */

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: .5rem;
}

    .toggle-btn img {
        width: 24px; /* Größe des Icons */
        height: 24px;
    }

nav {
    padding: 1rem;
}

/* Nav Links als Buttons */
.nav-btn {
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: .5rem;
    margin: .25rem 0;
    border-radius: 4px;
    transition: all 0.3s ease;
}

    .nav-btn img {
        width: 20px;
        height: 20px;
    }

    /* Text im Link */
    .nav-btn span {
        margin-left: 12px;
        white-space: nowrap;
        transition: opacity 0.3s ease, margin 0.3s ease;
    }

/* Eingeklappt → Text ausblenden */
.sidebar.collapsed .nav-btn span {
    opacity: 0;
    margin-left: 0;
    width: 0; /* Text nimmt keinen Platz mehr ein */
    overflow: hidden;
}

/* Content rechts der "Kasten"*/
.content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

header {
    flex: 0 0 20%;
    background: #1a2438;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
header h3 {
    padding: 10px;
}

main {
    flex: 1;
    background: #1a2438;
    text-align: center;
}

footer {
    flex: 0 0 10%;
    background: #1a2438;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

header, main, footer {
    margin: 0;
    padding: 0;
}